@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;900&family=Quicksand:wght@300;400;500;600;700&family=Rosario:wght@400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

/*---------ALGEMEEN----------------*/
.titel-gecentreerd{
	text-align: center;
}

.container2{
	max-width: 960px;
}

h1{
	font-style: bold;
    font-size: 24px;
    font-family: Rosario;
    color: white;
	text-transform: uppercase;
	margin-bottom: 20px;
}

/*---------KERST MENU----------------*/

/*kerst menu kader*/
.christmas_container{
	border-style: solid;
	border-color: #DABC7D;
	width: 35%;
	margin-left: 30%;
	margin-top: -5%;
	float: left;
}

.christmas_ball_1{
	width: 45%;
	height: 20%;
}

.christmas_ball_2{
	width: 45%;
	height: 20%;
	margin-left: 1%;
}


/*Titel kerst menu*/
.christmas_menu{
    font-family: Rosario;
    margin-left: 38%; 
}

/*kerst datums*/
.christmas_dates{
	font-size: 13px;
	font-weight: 100;
	margin-left: 37%;
}

/*gerechten kerstmenu*/
.christmas_dishes{
	font-size: 12px;
	margin-left: 2%;
	margin-bottom: 10%;
	text-align: center;
	padding: 0 8%;
}

.button_kerst{
	background-color: #DABC7D;
	width:100px;
	height: 40px;
	font-size: 16px;
	color: white;
	cursor: pointer;
	font-family: Rosario;
	padding: 2%;
	margin-left: 18%;
	margin-top: 2%;
}

/*line*/
hr{
    border-color: #DABC7D;
    width: 20%;
}

/*--------2 TAPAS FOTO'S LANGS ELKAAR----------------*/
.tapas1{
	width: 38%;
	height: 28%;
	margin: 0 2%;
	margin-top: 10%;
}

.tapas2{
	margin: 0 2%;
	margin-top: 10%;
}

.button-menu1{
	background-color: #DABC7D;
	width:100px;
	height: 40px;
	font-size: 16px;
	color: white;
	cursor: pointer;
	font-family: Rosario;
	padding: 2%;
	margin-left: 20%;
}

.button-menu2{
	background-color: #DABC7D;
	width:100px;
	height: 40px;
	font-size: 16px;
	color: white;
	cursor: pointer;
	font-family: Rosario;
	padding: 2%;
	margin-left: 38%;
}

/*about pagina*/
.container-about{
	width: 80%;
	float:left;
	margin-top: 50px;;
}

/*--------OVER ONS TEKST----------------*/
.over-ons_container{
	padding: 2%;
	margin-top: 10%;
}

.over-ons_titel{
	margin-top: 2%;
	margin-left: 40%;
	font-family: Rosario;
	padding: 0 5%;
}

.over-ons_text{
	text-align: center;
	padding: 0 8%;
}

.over-ons_line{
	width: 10%;
	margin-left: 43%;
}

.button-overons{
	background-color: #DABC7D;
	width:100px;
	height: 40px;
	font-size: 16px;
	color: white;
	cursor: pointer;
	font-family: Rosario;
	padding: 2%;
	margin-left: 42%;
}

/*--------OPENINGSUREN EN IMAGE----------------*/
.empty-row{
	width: 30%;
}
.openinghours_container{
	width: 90%;
	margin-left: 10%;
	margin-top: 10%;
}

.openignhours-blok{
	float: left;
	width: 90%;
}

.openinghours_line{
	width: 20%;
	margin-left: -2%;
}

.days{
	text-transform: uppercase;
	text-decoration: none;
	padding: 10% 0;
	text-align: left;
}

.hours{
	margin-left: 150px;
	text-align: right;
}

/*foto restaurant langs openignsuren*/
.image_restaurant{
	float: right;
	width: 38%;
	height: 20%;
	margin-top: -55%;
	margin-right: 10%;
}

.button-openinghours{
	background-color: #DABC7D;
	width:100px;
	height: 40px;
	font-size: 16px;
	color: white;
	cursor: pointer;
	font-family: Rosario;
	padding: 2%;
	margin-left: 5%;
}

.endline_container{
	margin-top: 5%;
}

/*---------------REVIEWS STARS-------------------------*/
/*stars*/
.checked {
  color: #F5CF80;
}

.reviews_titel{
	margin-top: 10%;
	margin-left: 45%;
}

.reviews_container{
	width: 90%;
}

.reviews-blok1, .reviews-blok2, .reviews-blok3{
	width: 30%;
}

.review_name{
	font-size: 13px;
	font-weight: lighter;
}

.review_text{
	font-style: 14px;
}

/*-----------OVER ONS PAGINA----------*/

.container-about{
	
	float:left;
	text-align: center;
	margin: 10%;
}

.foto-about{
    margin-left: 10%;
	margin-top: 40px;
}