@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;900&family=Quicksand:wght@300;400;500;600;700&family=Rosario:wght@400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

body{
	background-image: url(images/backgroundblack.jpg);
	box-sizing: border-box;
	font-family: Quicksand;
}

.cf:after{
	content: "";
	display: table;
	clear: both;
}

/*menu*/
.navigatie{
	margin: 1% 2%;
	padding: 1% 0;
	text-align: center;
	font-family: Rosario;
	width: 800px;
	float: right;
	color: #F5CF80;
}

li{
	display: inline;
}

a:link{
	color: #F5CF80;
	padding: 5px 40px;	
	text-decoration: none;
	font-weight: bold;
}



a:visited{
	color: #fff;
}

a:active{
	color: #D46017;
	color: white;
    font-size: 16px;
    font-family: quicksand;
}

h1{
    font-style: bold;
    font-size: 18px;
    font-family: Rosario;
}