@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;900&family=Quicksand:wght@300;400;500;600;700&family=Rosario:wght@400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

body{
	background-image: url(images/backgroundblack.jpg);
	box-sizing: border-box;
	font-family: Quicksand;
	color: white;.
	margin: 0;
}

.cf:after{
	content: "";
	display: table;
	clear: both;
}

h1{
    font-style: bold;
    font-size: 18px;
    font-family: Rosario;
    color: white;
}

/*---------HEADER----------------*/
header{
	z-index: -1;
}

/*container van header-blok*/
.container{
	margin: 0 auto;
}

/*div container rond het menu*/
.navigatie{
	margin: 1% 2%;
	padding: 1% 0;
	text-align: center;
	font-family: Rosario;
	width: 800px;
	float: right;
	color: #F5CF80;
	font-size: 22px;
	cursor: pointer;
}

li{
	display: inline;
}

a:link{
	color: #F5CF80;
	padding: 5px 40px;	
	text-decoration: none;
	
}
a:hover{
	color: #766749;
}

a:visited{
	color: #F5CF80;
}

a:active{
	color: #F5CF80;
    font-size: 20px;
}

/*highlightning menu text when your visiting the home-page */
.home{
	color: #766749;
}

/*---------EINDE HEADER----------------*/

/*header tapas image*/
.header_image{
	float: left;
	width: 40%;
	height: 5%;
	margin-top: -150px;
	z-index: 1;
}

/*---------RESERVATIE TEKST-KNOP----------------*/

/*reservatie tekst boven button-reservatie*/
.header_text{
	float: right;
	margin-top: 25%;
	margin-right: 10%;
	line-height: 30px;

}

/*button reserveren-header*/
.button {
	background-color: #DABC7D;
	width:100px;
	height: 40px;
	font-size: 16px;
	color: white;
	cursor: pointer;
	font-family: Rosario;
	padding: 2%;
	margin-left: 25%;
}
/*---------EINDE RESERVATIE TEKST-KNOP----------------*/

.footer_container{
	float: left;
}