@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;900&family=Quicksand:wght@300;400;500;600;700&family=Rosario:wght@400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

/*---------ALGEMEEN----------------*/

/*container voor body*/

.container2 {
	max-width: 960px;
	margin: auto;
	margin-top: 50px;
}

h1 {
	font-size: 22px;
	font-family: Rosario;
	color: white;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.button-body {
	border: 0.7px solid #DABC7D;
	color: #DABC7D;
	cursor: pointer;
	font-family: Rosario;
	padding: 10px 20px;
	text-decoration: none;
	background: url(images/chalkboard.jpg);
}

.button-body:hover{
	opacity: 0.7;
}

/*class om extra ruimte te creeeren rond een element*/

.space{
	margin-top: 40px; 
	margin-bottom: 100px;
}

.space2{
	margin-top: 80px; 
}

/*scroll to top knop rechterzijde*/

#myBtn {
	display:none;
	position: fixed;
	bottom: 50px;
	right: 30px;
	z-index: 99;
	border: none;
	outline: none;
	color: white;
	background-color: #DABC7D;
	cursor: pointer;
	padding: 15px;
	font-size: 24px;
}

#myBtn:hover {
	opacity: 0.7;
}
.selectievakje{
	width: 100%;
	color: #DABC7D;
	margin-left: 3%;
	margin-top: 2%;
	font-size: 13px;
	line-height: 180%;
}

.vakje1{
	width: 100%;
	color: white;

}

.vakje2{
	float: left;
	width: 2%;
}


/*-------INDEX PAGINA-------KERSTMENU----------------*/

/*kerstmenu kader*/
.christmas_container {
	border-style: solid;
	border-color: #DABC7D;
	max-width: 70%;
}

.christmas_balls{
	width:100%;
}

/*kerstdata*/
.christmas_dates {
	font-size: 14px;
	font-weight: 100;
	color: #DABC7D;
}

/*gerechten kerstmenu*/
.christmas_dishes {
	font-size: 14px;
	padding: 0 8%;
}

#prijs{
	color: #DABC7D;
	font-size: 14px;
	font-style:italic;
}

/*line*/
hr{
	border-color: #766749;
	width: 20%;
	margin-bottom: 30px;
	margin-top:30px;
}

/*--------2 FOTO'S LANGS ELKAAR----------------*/

.menufoto {
	float: left;
	width: 50%;
	margin-top: 10%;
}

/*about pagina*/
.container-about {
	width: 80%;
	float: left;
	margin-top: 50px;
}

/*--------OVER ONS TEKST----------------*/
.ons {
	margin: 20px 0;
}

/*--------SLIDESHOW----------------*/
.slides{
	width: 50%;
	border: 2px solid #766749;
}

.hiddenSlides{
	display: none;
}

/*--------OPENINGSUREN EN IMAGE----------------*/
.empty-row {
	width: 35%;
}

.openinghours-blok {
	float: left;
	width: 60%;
	margin: 30px 0;

}

.openinghours_line {
	width: 20%;
}

.days {
	text-transform: uppercase;
	font-family: Rosario;
	text-decoration: none;
	padding: 6% 0;
	text-align: left;
}

.hours {
	margin-left: 150px;
	text-align: right;
}

/*foto restaurant langs openingsuren*/
.image_restaurant {
	width: 40%;
	float: left;
	margin: 30px 0;
}

/*---------------REVIEWS STARS-------------------------*/

/*stars*/
.checked {
	color: #85682E;
}

.reviews_titel {
	margin-bottom: 50px;
	margin-top: 50px;
}

.reviews_container {
	width: 90%;
	float: left;
}

.reviews-blok1, .reviews-blok2 {
	width: 30%;
	margin-top: 8%;
	float: left;
	padding: 0 2%;
	text-align: center;
}

.reviews-blok3 {
	width: 30%;
	float: left;
	margin-top: 8%;

	text-align: center;
}

.review_name {
	font-size: 13px;
	font-weight: lighter;
}

.review_text {
	font-size: 13px;
}

/*---------------EINDE INDEX PAGINA-------------------------*/


/*-----------BEGIN OVER ONS PAGINA----------*/


.foto-about {
	margin: auto;
	margin-top: 40px;
}

.over-ons-links {
	float: left;
	width: 50%;
	margin-top: 20px;
}

.over-ons-rechts {
	float: right;
	width: 45%;
	margin-top: 20px;
}

/*-----------EINDE OVER ONS PAGINA----------*/

/*-----------BEGIN MENU PAGINA----------*/

.menutitel {
	margin-top: 50px;
}

.menukader1 {
	border: 1px solid #DABC7D;
	padding: 20px;
	margin: 0 30px 0 0;
	float: left;
	width: 55%;
	height: 350px;
	font-size: 14px;
}

.menukader2 {
	border: 1px solid #DABC7D;
	padding: 20px;
	margin: 0 0 30px 0;
	float: right;
	width: 55%;
	height: 350px;
	font-size: 14px;
}

.menufoto1 {
	float: right;
	width: 35%;
	height: 392px;
}

.menufoto2 {
	float: left;
	width: 35%;
	height: 392px;
}

.deelmenu {
	margin: 100px 0;
}

.centreren {
	margin: auto;
	text-align: center;
}

.naamdrank {
	float: left;
	width: 60%;
	font-size: 13px;
}

.prijsdrank {
	float: right;
	width: 25%;
	font-size: 13px;
}

.linkerkolomdrank {
	float: left;
	width: 45%;
	padding: 30px 10px 15px 30px;
	border-right: 1px solid #DABC7D;
}

.rechterkolomdrank {
	float: right;
	width: 45%;
	padding: 30px 15px 10px 30px;
}

.drankkaart {
	border: 1px solid #DABC7D;
	margin-top: 50px;
}

.titelkleur {
	color: #DABC7D;
	padding-bottom: 30px;
}

h3 {
	font-size: 15px;
	margin-top: 20px;
	font-family: Rosario;
	text-transform: uppercase;
}

.zwevend{
	margin-top: 40px; 
	margin-bottom: 40px;
}


/*-----------EINDE MENU PAGINA----------*/


/*---------------BEGIN ANNULATIEVOORWAARDEN PAGINA-------------------------*/
.annulatie_container {
	padding: 2%;
	margin-top: 15%;
}

.annulatie_text {
	text-align: center;
	padding: 0 8%;
}

.annulatie_image {
	margin-top: 5%;
	width: 80%;
	margin-left: 10%;
}

/*---------------BEGIN RESERVATIE PAGINA-------------------------*/
.reservatie_container {
	margin-top: 10%;
}

.button_reservatie {
	font-size: 15px;
	color: #DABC7D;
	cursor: pointer;
	font-family: Rosario;
	padding: 10%;
	text-decoration: none;
}

.button-reservatie:hover{
	opacity: 0.7;
}

.container3 {
	max-width: 50%;
	margin: auto;
}

/*formulier reserveren*/
.groep-name, .groep-contactgegevens, .groep-uur, .groep-datum, .groep-keuze, .groep-aantal {
	margin: 2% 0;
	display: inline-block;
	width: 100%;
	font-size: 13px;
}

#uur, #selectie, #datum, #aantal, #telefoonnummer, #bericht {
	color: white;
	font-size: 13px;
}

#selectie, #uur {
	background-color: #333;
}

#knop_verstuur{
	border: 1px solid #766749;
}

input, select, textarea, option {
	border-radius: 2px;
	border: 1px solid #766749;
	box-sizing: border-box;
	font-size: 13px;
	font-family: 'Quicksand';
	width: 100%;
	padding: 10px;
	background-image: url(images/chalkboard.jpg);
}

textarea {
	height: 150px;
}

::placeholder {
	color: white;
	opacity: 0.9;
	font-size: 13px;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.error{
	color: #DABC7D;
	font-size: 13px;
}

#verplicht{
	color: #DABC7D;
	font-size: 13px;
	text-align: right;
}

.verzend-button {
	border: 0.7px solid #766749;;
	color: white;
	cursor: pointer;
	font-family: Rosario;
	padding: 10px 20px;
	text-decoration: none;
	width: 30%;
	text-transform: uppercase;
	margin-top: 20px;
}

.verzend-button:hover{
	opacity: 0.7;
}

#mail{
	color: white;
	text-decoration:underline;
	margin: 0 -5px;
	cursor: pointer;
}

/* ----------CONTACTGEGEVENS + CONTACTFORM-------- */

.gegevens hr {
	width: 200px;
}

.contactgegevens_titel {
	text-align: center;
}

.gegevens {
	width: 50%;
	float: left;
}

/* ----------CONTACTFORM-------- */

#form hr {
	width: 100px;;
}
.contact-form {
	width: 50%;
	float: left;
}

.input-contact {
	margin: 10px 10px 10px 0;
}

.cont-name {
	width: 49%;
	float: left;
	margin: 0 2% 0 0;
}

.phone{
	margin: 0 0 0 10px;
}

.cont-lastname {
	width: 49%;
	float: left;	
}

/* ----------GEGEVENS-MAP-------- */
.map iframe{
	margin: 10px 0 20px 0;
	height: 300px;
	width: 960px;
	border: solid 5px #DABC7D;
	text-align: right;
}

.contactgegevens i {
	color: #DABC7D;
}

.contactgegevens a {
	color: #fff;
	padding: 0;
	margin: 0;
}

.cont-geg {
	margin: 10px 0 20px 0;
}

#contact-btn {
	float: right;
	margin:30px -10px 50px 0;
}

.input-contact{
	margin-bottom: 0;
	margin-right: 0;
}

.input-contact:focus{
	border-color: #DABC7D;
	color: white;
}

.contactgegevens p {
	margin-top: 10px;
}
